@import "~bootstrap/scss/bootstrap";

.app-container {
  padding: 40px;
  .container-card {
    min-height: 700px;
  }
  .card {
    margin: 25px;
    min-height: 700px;
  }
  h1 {
    background-color: #D3D3D3;
    margin: 25px;
  }
  .location-section {
    margin: 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}